{% extends "layout.html" %}

{% block content %}
    <h2>Add a New Article</h2>
    <form method="POST" action="/add">
        <div>
            <label for="url">URL:</label>
            <input id="url" name="url" >
        </div>
        <div>
            <label for="tags">Tags (comma-separated):</label>
            <input type="text" id="tags" name="tags">
        </div>
        <div>
            <label for="notes">Notes:</label>
            <textarea id="notes" name="notes"></textarea>
        </div>
        <button type="submit">Add</button>
    </form>
{% endblock %}